<?xml version="1.0" ?>
<launch>
  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot0"/>
    <arg name="xcoordinate" value="-4.5"/>
    <arg name="ycoordinate" value="5.5"/>
  </include>

  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot1"/>
    <arg name="xcoordinate" value="8.5"/>
    <arg name="ycoordinate" value="-5.5"/>
  </include> 

  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="xcoordinate" value="8"/>
    <arg name="ycoordinate" value="8"/>
  </include>
  <include file="$(find setup)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="xcoordinate" value="-7.5"/>
    <arg name="ycoordinate" value="12"/>
  </include>    
</launch>
