<?xml version="1.0" ?>
<launch>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot0"/>
    <arg name="xcoordinate" value="21"/>
    <arg name="ycoordinate" value="-14"/>
  </include> 

  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot1"/>
    <arg name="xcoordinate" value="-3"/>
    <arg name="ycoordinate" value="7"/>
  </include>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="xcoordinate" value="12"/>
    <arg name="ycoordinate" value="-10"/>
  </include>


  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="xcoordinate" value="-3"/>
    <arg name="ycoordinate" value="5"/>
  </include>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot4"/>
    <arg name="xcoordinate" value="-3"/>
    <arg name="ycoordinate" value="3"/>
  </include>




</launch>
