<?xml version="1.0" ?>
<launch>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot0"/>
    <arg name="xcoordinate" value="-46"/>
    <arg name="ycoordinate" value="-7"/>
  </include> 

  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot1"/>
    <arg name="xcoordinate" value="-35"/>
    <arg name="ycoordinate" value="37"/>
  </include>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="xcoordinate" value="-7"/>
    <arg name="ycoordinate" value="-15"/>
  </include>
  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="xcoordinate" value="7"/>
    <arg name="ycoordinate" value="13"/>
  </include>

  <include file="$(find robot_description)/launch/robot_spawn.launch">
    <arg name="robot_name" value="robot4"/>
    <arg name="xcoordinate" value="22"/>
    <arg name="ycoordinate" value="-29"/>
  </include>


</launch>
